* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.0rem;
}

p {
    font-size: 1.0rem;
}

ol {
    font-size: 1.5rem;
}

a {
    font-size: 1.0rem;
}

.boldtext {
    font-weight: bolder;
}

input.BigSubmit {
    width: 200px;
    height: 100px;
    font-size: 2rem;
}

a.bigLink {
    font-size: 2.0rem;
}

.notice {
    background:rgba(63, 153, 45, 0.1);
    width:30vw;
    padding:50px;
    bottom: 50px;
    position:fixed;
    bottom: 50px;
    font-size:2rem;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}   

.important {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    font-style: italic;
}